.menu {
    position: absolute;
    right: var(--size-2);
    top: var(--size-2);

    background-color: var(--surface-1);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-5);

    font-weight: initial;
    font-size: initial;

    .option {
        padding: var(--size-3);
    }
}