.main {
    font-size: var(--font-size-1);
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    max-width: 600px;
    background: var(--surface-2);
}