a.item {
    padding: var(--size-2);
    color: inherit;

    margin-block: unset;
    margin-inline: unset;

    display: grid;
    grid-template-columns: 3em;
    grid-column-gap: var(--size-2);

    &:hover {
        text-decoration: none;
    }
        
    .icon { grid-area: 1 / 1 / 3 / 2; }
    .title { grid-area: 1 / 2 / 2 / 3; }
    .message { grid-area: 2 / 2 / 3 / 3; }
}