
.input-base {
    display: flex;
    padding: var(--size-3);
    gap: var(--size-2);

    .input {
        flex-grow: 1;
        background: var(--surface-4);
        border-radius: var(--radius-4);
        border: var(--border-size-2) solid var(--text-2);
        padding: var(--size-2) var(--size-3);
        max-height: 15rem;
        overflow-y: auto; 
        
        &.placeholder::before {
            content: 'Aa'
        }
    }

    button {
        background: inherit;
        svg {
            fill: var(--primary-color);
            stroke: none;
        }
    }
}
