.main {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    max-width: 600px;
    margin: 0px auto;
    background: var(--surface-2);
}

.messages {
    flex-grow: 1;
    padding: var(--size-3);

    .message {
        font-size: var(--font-size-5);
        background: var(--red-7);
        border-radius: var(--radius-4);
        padding: 0px var(--size-3);
    }
}

.input-base {
    display: flex;
    font-size: var(--font-size-5);
    padding: var(--size-3);
    gap: var(--size-2);

    .input {
        flex-grow: 1;
        background: var(--surface-4);
        border-radius: var(--radius-4);
        border: var(--border-size-2) solid var(--text-2);
        padding: 0px var(--size-3);

        &:focus {
            outline: none;
        }
    }

    button {
        background: inherit;
        svg {
            fill: var(--red-7);
            stroke: none;
        }
    }
}
