.main {
    font-size: var(--font-size-3);
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    max-width: 600px;
    margin: 0px auto;
    background: var(--surface-2);
}

.messages {
    flex-grow: 1;
    padding: var(--size-3);

    .message {
        color: var(--gray-4);
        background: var(--red-7);
        border-radius: var(--radius-4);
        padding: var(--size-2) var(--size-3);
    }
}