.messages {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
    flex-grow: 1;
    overflow-y: auto;
    padding: var(--size-3);

    .message {
        color: white;
        background: var(--primary-color);
        border-radius: var(--radius-4);
        padding: var(--size-2) var(--size-3);
    }
}
