.navbar {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.5em;
    padding: var(--size-2);
    color: var(--text-2);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, 
        rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset, 
        rgba(255, 255, 255, 0.5) 0px 2px 1px -1px inset;

    .title {
        display: flex;
        gap: var(--size-2);
    }

    div {
        align-self: center;
    }

    button {
        background-color: transparent;
        padding: unset;
    }

    img {
        height: 1.5em;
        width: 1.5em;  
    }
    
    svg {
        height: 1.2em;
        width: 1.2em;
    }
}
